*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1538;
    min-height: 100vh;
    /* gap:200px */
    
}

.box
{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #0e1538;
}

.box::before
{
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#d400d4);
    box-shadow: 0 0 0 20px #070c23;
    z-index: -1;
    /* filter: blur(10px); */
}

.box::after
{
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg,#00ccff,#0e1538,#0e1538,#d400d4);
    z-index: -1;
    filter: blur(10px);
}